@import "../../../../dashboard/static/dashboard/scss/values";
@import "../../../../dashboard/static/dashboard/scss/mixins";

.context {
  display: flex;
  flex-direction: column;

  .charts-block {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .top-radius {
      border-top-left-radius: $charts-border-radius;
      border-top-right-radius: $charts-border-radius;
    }

    .charts-wraper {
      box-shadow: $main-shadow;
      margin: 1rem;

      &.filters {
        position: relative;
        max-width: 100%;
        border-radius: $charts-border-radius;
        flex: 1 1 100%;
      }

      &.timeline {
        position: relative;
        max-width: 66%;
        flex: 1 1 66%;
      }

      &.in-details {
        position: relative;
        max-width: 34%;
        flex: 1 1 34%;
      }

      .charts-header {
        width: 100%;
        padding: 1rem;
        background-color: $charts-header-bg-color;
        color: $charts-header-color;
        border-bottom: $charts-header-border;
        text-align: left;
        font-size: 1.2rem;
      }

      .charts-body {
        width: 100%;
        height: 100%;
        padding: 1rem;

        .chart-area {
          position: relative;
          width: 100%;
          height: 20rem;
        }
      }
    }
  }
}

.index-filter-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.875rem !important;
  align-items: center;
  padding: 0 !important;
  color: #666;
  border: solid 1px #6d6d6d;
  border-radius: $charts-border-radius;
  background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a));

  li {
    margin: 0.6rem 0.5rem;

    input,
    select {
      &[type=radio] {
        height: 0;
        width: 0;
      }

      & + label {
        display: inline-block;
      }

      & + label,
      &.index-filter-period,
      &.flatpickr-range {
        font-weight: bold;
        background: none;
        border: none;
        color: #e7e5e5;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
        padding: 0.4rem 0.8rem;
        border-radius: 1.8rem;
        cursor: pointer;

      }
      &.index-filter-period {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
      }
      &.index-filter-period,
      &.flatpickr-range {
        display: none;
        padding: calc(.4rem - 1px) calc(.8rem - 1px);
        border: 1px solid #e7e5e5;
        min-height: 0;
        width: 0;
        opacity: 0;
        @include transition(opacity .3s ease-in, width 1s ease-in);

        &.animation-width {
          width: 12rem;
        }

        &.animation-opacity {
          opacity: 1;
        }
      }
    }

    &:hover .flatpickr-range,
    &:hover .index-filter-period,
    &:hover input + label,
    input[type=radio]:checked + label {
      color: #444;
      background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1));
      border-top: solid 1px #f8f8f8;
      text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
      box-shadow: 0 1px 1px rgba(0, 0, 0, .2);

    }

    &:hover .flatpickr-range,
    &:hover .index-filter-period {
      padding: 0.4rem 0.8rem;
      border: none !important;
    }
  }
}
