{% extends "dashboard/layout.html" %}
{% load static %}

{% block title %}
Картриджи
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'toners/css/4t.min.css' %}" type="text/css">
<script src="{% static 'toners/js/4t.min.js' %}" defer></script>
{% endblock %}

{% block main %}

<!-- main block -->
<div class="main-flex">
  <!-- sidebar -->
  <div class="sidebar open">
    <button class="btn btn-primary-0" id="reset-filters"><i data-feather="layers" class="svg-title"></i>Сбросить фильтры</button>
    <div class="divider"></div>
    <div class="description"><span><i data-feather="filter" class="svg-title"></i></span>Фильтр: <span id="side-filter"></span></div>
    <button class="btn btn-primary-0 sidebar-dropdown-btn"><i data-feather="printer" class="svg-title"></i>Брэнд</button>
    <div class="dropdown-container">
      {% if brands %}
      {% for brand in brands %}
      <button class="btn btn-light" name="brand">{{ brand.short_name }}</button>
      {% endfor %}
      {% endif %}
    </div>
    <button class="btn btn-primary-0 sidebar-dropdown-btn"><i data-feather="grid" class="svg-title"></i>Тип</button>
    <div class="dropdown-container">
      {% if types %}
      {% for type in types %}
      <button class="btn btn-light" name="type">{{ type.name }}</button>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="sidebar-toggler">&lsaquo;&lsaquo;</div>
  <!-- /sidebar -->
  <!-- content block -->
  <div class="content-block">
    <!-- filter -->
    <div class="filter">
      <div>
        {% if statuses %}
        {% for status in statuses %}
        <input type="checkbox" class="switch" data-status="{{ status.pk }}" id="status-{{ status.pk }}">
        <label for="status-{{ status.pk }}" tooltip="{{ status.name }}" class="show-tooltip">
          <i data-feather="{{ status.logo }}" class="svg-title"></i>
        </label>
        {% endfor %}
        {% endif %}
      </div>
      <div>
        <span id="db-time-update" title="время обновления данных">{{ time }}</span>
      </div>
      <div>
        <span title="удалить картридж">
          <i data-feather="minus-circle" class="action" id="remove-row"></i>
        </span>
        <span title="просмотреть историю картриджа">
          <i data-feather="book" class="action" id="open-log"></i>
        </span>
        <span title="изменить расположение картриджа">
          <i data-feather="play" class="action" id="move-row"></i>
        </span>
        <span title="добавить картридж">
          <i data-feather="plus-circle" class="action" id="add-row"></i>
        </span>
      </div>
    </div>
    <!-- /filter -->
    <div class="filter-models" id="printer-models-block"></div>
    <!-- main table -->
    {% csrf_token %}
    <ol class="table-conteiner table-toners user-select-false" data-fetch="{% url 'toners' %}">
      <li class="item item-conteiner">
        <div class="attribute" data-name="#">#</div>
        <div class="attribute-conteiner toner-info">
          <div class="attribute toner-id" data-name="ID">ID</div>
          <div class="attribute toner-type" data-name="Тип">Тип</div>
        </div>
        <div class="attribute-conteiner location-info">
          <div class="attribute owner" data-name="Владелец">Владелец</div>
          <div class="attribute location" data-name="Место">Место</div>
        </div>
        <div class="attribute status" data-name="Статус">Статус</div>
        <div class="attribute date" data-name="Дата">Дата</div>
      </li>
    </ol>
    <!-- /main table -->
    <!-- pagination -->
    <div class="pagination-block">
      <div class="pagination"></div>

      <select id="rows-per-page">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="35">35</option>
        <option value="50">50</option>
        <option value="0">все</option>
      </select>
    </div>
    <!-- /pagination -->
    <!-- log table -->
    <div class="table" id="table-toners-log">
      <h3 class="table-header">
        <span></span>
        <span title="">
          <i data-feather="x" class="action feather-x" data-target="table-toners-log"></i>
        </span>
      </h3>
      <ol class="table-conteiner table-toners-log user-select-false" data-fetch="{% url 'toners' %}">
        <li class="item item-conteiner">
          <div class="attribute" data-name="#">#</div>
          <div class="attribute date" data-name="Дата">Дата</div>
          <div class="attribute status" data-name="Статус">Статус</div>
          <div class="attribute location" data-name="Место">Место</div>
          <div class="attribute printer" data-name="Принтер">Принтер</div>
          <div class="attribute note" data-name="Примечание">Примечание</div>
        </li>
      </ol>
    </div>
    <!-- /log table -->
  </div>
  <!-- /content block -->
</div>
<!-- /main block -->
{% endblock %}
